@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Teko");
* {
  margin: 0;
  padding: 0;
  color: #737373;
  text-decoration: none; }

body {
  font-family: sans-serif; }

ul li {
  list-style-type: none; }

*:focus {
  outline: none; }

button {
  cursor: pointer; }

.container {
  position: relative;
  width: 1024px;
  margin-left: auto;
  margin-right: auto; }

.header {
  background: linear-gradient(to top, grey -100%, #fff); }
  .header .container {
    width: 1024px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }

.header__logo {
  padding-top: 32px;
  padding-left: 5px; }

.nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  .nav .item__link {
    position: relative;
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 48px 22px 26px;
    font-size: 22px;
    width: 69px;
    border-right: solid 1px darkgrey; }
    .nav .item__link .icon {
      position: relative;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain; }
    .nav .item__link .text {
      font-size: 17px;
      padding-top: 11px; }
    .nav .item__link .icon--home {
      background-image: url("../img/icon1.png"); }
    .nav .item__link .icon--gallery {
      background-image: url("../img/icon2.png"); }
    .nav .item__link .icon--members {
      background-image: url("../img/icon3.png"); }
    .nav .item__link .icon--logout {
      background-image: url("../img/icon4.png"); }
  .nav .item__link:hover {
    background: linear-gradient(to top, #ff7700 -70%, rgba(255, 255, 255, 0.3) 70%);
    text-shadow: 1px 1px 0 #fff; }
    .nav .item__link:hover .icon {
      opacity: 0.7; }
  .nav .item__link:hover::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #ff7700; }
  .nav li:last-child .item__link {
    border: none; }

.content {
  position: relative;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  margin-left: auto;
  margin-right: auto; }

.logo {
  font-family: 'Lobster', cursive;
  font-size: 49px;
  letter-spacing: 1px; }

.logo-text {
  color: darkgrey; }

.logo-text--orange {
  color: #ff7700; }

#search {
  position: relative;
  box-sizing: border-box;
  padding-left: 160px;
  padding-top: 35px;
  padding-bottom: 35px;
  max-height: 200px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column; }
  #search .title {
    font-weight: bold;
    font-size: 32px; }
  #search .form {
    width: 710px;
    padding-top: 26px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
  #search .search__text {
    width: 475px;
    padding: 14px;
    box-sizing: border-box;
    padding-right: 115px;
    font-size: 21px;
    border-radius: 5px;
    border: solid 1px darkgrey; }
  #search .search__text:focus {
    outline: none; }
  #search .button {
    position: relative;
    font-size: 17px;
    color: #fff;
    padding: 8px 21px;
    border-radius: 5px;
    border: none;
    font-family: inherit; }
  #search .search__button-browse {
    position: relative;
    margin-left: -115px; }
  #search .search__button-upload {
    margin-left: 24px;
    font-weight: bold;
    font-size: 26px;
    background: linear-gradient(to top, #bd5800 -70%, #ff7700 68%); }

#gallery {
  box-sizing: border-box;
  margin-top: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #gallery .gallery__item {
    max-width: 212px;
    max-height: 290px;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(to top, grey -5%, #fff 5%);
    padding: 5px;
    box-shadow: 0px 0px 5px 0px grey;
    margin-top: 20px;
    margin-right: 20px;
    zoom: 1.09;
    /* хром, сафари */
    /* ie 10+ */
    /* фф (свойство больше не работает, других способов тоже нет)*/ }
    #gallery .gallery__item .gallery__img {
      position: relative; }
    #gallery .gallery__item .zoom {
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex; }
    #gallery .gallery__item .zoom::after {
      content: ""; }
    #gallery .gallery__item .fa-search-plus {
      position: absolute;
      width: 15px;
      height: 15px;
      left: 50%;
      top: 50%;
      margin-left: -8px;
      color: #fff;
      opacity: 0;
      z-index: 10; }
    #gallery .gallery__item .zoom:hover .img {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px); }
    #gallery .gallery__item .zoom:hover .fa-search-plus {
      opacity: 1; }
    #gallery .gallery__item .img {
      position: relative; }
    #gallery .gallery__item .gallery__date {
      position: relative;
      margin-top: -20px;
      margin-left: 5px; }
    #gallery .gallery__item .date {
      font-family: 'Teko', sans-serif;
      color: #fff; }
    #gallery .gallery__item .gallery__about {
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-around;
      max-height: 42px; }
    #gallery .gallery__item .gallery__about::-webkit-scrollbar {
      width: 0; }
    #gallery .gallery__item .gallery__about {
      -ms-overflow-style: none; }
    #gallery .gallery__item .gallery__about {
      overflow: -moz-scrollbars-none; }
    #gallery .gallery__item .about {
      position: relative;
      font-size: 13px;
      text-align: center;
      width: 80%; }
    #gallery .gallery__item .favorite {
      position: relative;
      min-width: 28px;
      min-height: 28px;
      width: 28px;
      height: 28px; }
      #gallery .gallery__item .favorite .fa {
        position: absolute; }
    #gallery .gallery__item .fa-circle {
      font-size: 32px;
      color: #ff7700; }
    #gallery .gallery__item .fa-star {
      color: #fff;
      font-size: 16px;
      left: 50%;
      margin-left: -8px;
      top: 50%;
      margin-top: -8px; }
    #gallery .gallery__item .favorite:hover .fa-circle {
      color: #b15300; }
    #gallery .gallery__item .gallery__share {
      position: relative;
      padding: 10px;
      margin-top: 10px;
      border-top: solid 1px #dadada;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      #gallery .gallery__item .gallery__share .text {
        margin-right: 7px; }
    #gallery .gallery__item .share__list {
      position: relative; }
    #gallery .gallery__item .share {
      position: relative;
      background: darkgrey;
      color: #fff;
      padding: 5px;
      width: 16px;
      height: 16px;
      border-radius: 23px;
      text-align: center;
      box-shadow: 1px 1px 0 0 grey inset;
      margin-left: 3px; }
    #gallery .gallery__item .fa-facebook:hover {
      background: #3b5998; }
    #gallery .gallery__item .fa-twitter:hover {
      background: #00aced; }
    #gallery .gallery__item .fa-pinterest-p:hover {
      background: #cb2027; }
    #gallery .gallery__item .fa-vk:hover {
      background: #45668e; }
  #gallery .gallery__item:nth-child(4n) {
    margin-right: 0; }
